%p= link_to t('application.titles.new_post'), new_post_path
.post
  - if @posts.any?
    = render :partial => "posts/post", :collection => @posts
  -else
    = render :partial => "shared/no_posts"

%p= link_to t('application.titles.new_post'), new_post_path

