%h1= @post.title
%p
  = link_to t('application.actions.back'), posts_path
  = link_to t('application.actions.edit'), edit_post_path(@post)

= render :partial => 'posts/post', :locals => { :post => @post }
